@import "variables";
@import "mixin";

@mixin title() {
	font-style: italic;
	font-weight: 900;
	font-size: 2.25rem;
	text-transform: uppercase;
	margin: 0rem auto;
	padding: 1.25rem 4rem;
	border-radius: 3rem;
	width: fit-content;
	@media screen and (max-width: 576px) {
		font-size: 1.5rem;
	}
}

#event-body {
	background: linear-gradient(
		to bottom,
		$navbar-color 5%,
		#fdb7aa,
		#ac67f8 60%,
		#5b1eb3 90%
	);
	overflow-x: hidden;
	transition: all 0.3s;
	font-family: $nunito-font;
	color: $primary-white;
}

#event-header {
	padding: 2rem 0;
	min-height: 85vh;
	position: relative;
	.event-title {
		@include title();
		background: linear-gradient(to right, #a865f067 10%, #fdb7ab73 80%);
	}
	.event-sub {
		position: relative;
		display: flex;
		height: 500px;
		.event-subtitle {
			font-size: 3rem;
			border: 1px solid $secondary-orange;
			border-radius: 1.5rem;
			background: $gradient-transparent;
			text-align: center;
			padding: 2rem 0;
			margin: auto;
			width: 350px;
			max-width: 100%;
		}
		.event-flower {
			position: absolute;
			z-index: -2;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.event-play {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 17%;
		left: 50%;
		transform: translateX(-50%);
		background: linear-gradient(to bottom, #fdb7ab, #fdb7ab2c);
		padding-left: 8px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		cursor: pointer;
	}
	.event-star-bg {
		position: absolute;
		z-index: -1;
		&:nth-of-type(1) {
			top: 0;
			left: 15%;
		}
		&:nth-of-type(2) {
			bottom: 100px;
			left: 40%;
			width: 70px;
		}
		&:nth-of-type(3) {
			bottom: 50%;
			right: 50px;
			width: 90px;
		}
		&:nth-of-type(4) {
			top: 50px;
			right: 20%;
			width: 50px;
		}
		&:nth-of-type(5) {
			top: 80px;
			right: 18%;
			width: 30px;
		}
	}
}

#event-info {
	.info-title {
		@include title();
		background: linear-gradient(to right, #fdb7ab73 10%, #a865f067 80%);
		margin-bottom: 2.5rem;
	}
	.info-subtitle {
		span {
			font-size: 1.75rem;
			font-weight: 900;
			text-transform: uppercase;
			position: relative;
			.info-star {
				position: absolute;
				top: 0;
				left: -24px;
				transform: translateX(-50%);
				height: 1.75rem;
			}
		}
	}
	.info-desc {
		margin: 1rem auto;
		width: 450px;
		max-width: 100%;
		font-weight: 600;
		font-size: 1rem;
	}
}

// Elaborasi Page
#elaborasi-body {
	background: linear-gradient(
		to bottom,
		$navbar-color 5%,
		#fdb7aa 30%,
		#ac67f8,
		#5b1eb3 90%
	);
	overflow-x: hidden;
	transition: all 0.3s;
	font-family: $nunito-font;
	color: $primary-white;
}

#elaborasi {
	padding: 2rem 0;
	.schedule-title {
		@include title();
		background: linear-gradient(to right, #fdb7ab73 10%, #a865f067 80%);
		margin-bottom: 2.5rem;
	}
	.schedule-card {
		margin: 1rem auto 2rem;
		width: 275px;
		max-width: 100%;
		&-head {
			background-color: #f0aab7;
			border-top-left-radius: 0.75rem;
			border-top-right-radius: 0.75rem;
			padding: 0.75rem 0 0.25rem;
			box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
		}
		&-title {
			color: $primary-white;
			font-size: 1.5rem;
			text-align: center;
		}
		&-body {
			padding: 1rem;
			border-bottom-left-radius: 0.75rem;
			border-bottom-right-radius: 0.75rem;
			min-height: 320px;
			background-color: white;
			box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
			color: black;
			position: relative;
			ul {
				list-style: none;
				max-width: 180px;
				margin: 0 auto;
				li::before {
					content: "-";
					color: black;
					font-weight: bold;
					display: inline-block;
					margin-right: 1rem;
					margin-left: -2rem;
				}
			}
			.schedule-button {
				position: absolute;
				bottom: 1.25rem;
				left: 50%;
				transform: translateX(-50%);
				font-size: 1rem;
				width: fit-content;
				color: $primary-purple;
				font-weight: 900;
				padding: 0.75rem 1.5rem;
				border: 1px solid $secondary-orange;
				border-radius: 1rem;
				box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

#rundown {
	.rundown-title {
		@include title();
		background: linear-gradient(to right, #a865f067 10%, #fdb7ab73 80%);
		margin: 1rem auto;
	}
	.rundown-content {
		margin: 2rem auto;
	}
	.rundown-date {
		background: $gradient-transparent;
		color: $primary-white;
		border: 1px solid $secondary-orange;
		border-radius: 1rem;
		font-size: 1.25rem;
		text-align: center;
		padding: 0.75rem 0;
		width: 300px;
		max-width: 100%;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		&:not(.collapsed) {
			background-color: $primary-white;
			color: $primary-purple;
		}
	}
	.rundown-table {
		margin-top: 1rem;
		.rundown-list {
			margin: 0.75rem 0;
			span {
				font-family: $nunito-font;
				font-size: 1.25rem;
			}
			.rundown-time {
				text-align: left;
				width: 200px;
				max-width: 100%;
			}
		}
	}
}
// End of Elaborasi Page

// For Information page
#info-page {
	min-height: 85vh;
	.info-title {
		margin: 2rem auto;
		@include title();
		background: linear-gradient(to right, #a865f067 10%, #fdb7ab73 80%);
	}
	.info-body {
		margin-top: 3rem;
		background: linear-gradient(to right, #ab66f9, #ffb9a8);
		border-radius: 10%;
		padding: 2rem;
		.info-subtitle {
			margin-bottom: 2rem;
			text-align: center;
			font-size: 1.5rem;
			span {
				margin-top: 0.25rem;
				display: block;
				font-size: 1rem;
			}
		}
		.info-content {
			margin: 1rem auto;
			width: 900px;
			max-width: 100%;
		}
		ul.info-desc {
			list-style: decimal;
			width: 100%;
			li {
				margin: 0.75rem;
				a {
					text-decoration: underline;
					color: $primary-white;
					transition: all 0.3s;
					&:hover {
						color: $primary-purple;
					}
				}
			}
		}
		.info-button {
			display: block;
			margin: 1rem auto;
			padding: 0.75rem 0;
			width: 300px;
			max-width: 100%;
			border: 1px solid $secondary-orange;
			border-radius: 1rem;
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
			background: $gradient-transparent;
			font-size: 1.5rem;
		}
		.info-notes {
			margin-top: 1.5rem;
			h3 {
				font-size: 1.25rem;
			}
			ul.notes-list {
				list-style: none;
				li {
					margin: 0.75rem;
				}
				li::before {
					content: "-";
					color: inherit;
					font-weight: bold;
					display: inline-block;
					margin-right: 1rem;
					margin-left: -2rem;
				}
			}
		}
	}
}
// End of Information page

// Virtual Expo
.virtualexpo-regis {
	width: 625px;
	max-width: 100%;
	position: relative;
	background: linear-gradient(to right, #ae69f7, #fdb7ab);
	padding: 1.5rem 3rem;
	border-radius: 2rem;
	margin: 2rem auto 0;
	.virtualexpo-category {
		border: 2px solid $secondary-orange;
		border-radius: 1rem;
		font-size: 1.25rem;
		font-weight: 900;
		text-align: center;
		padding: 0.5rem;
		width: 250px;
		max-width: 100%;
		margin: 0.5rem auto;
		cursor: pointer;
		&.active {
			background: $gradient-transparent;
		}
	}
	.form-content {
		height: 200px;
		.virtualexpo-input {
			border: none;
			border-bottom: 1px solid $primary-white;
			background: transparent;
			padding: 0.5rem;
			text-align: center;
			color: $primary-white;
			width: 100%;
			margin: 0.75rem 0;
			&::placeholder {
				color: $secondary-orange;
			}
			&:focus {
				outline: none !important;
			}
		}
	}
}
.virtualexpo-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, #fdb7ab, #fdb7ab2c);
	margin: 1.5rem auto;
	padding-left: 8px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	cursor: pointer;
}
// End of Virtual Expo

@media screen and (max-width: 992px) {
	#event-header {
		.event-sub {
			.event-subtitle {
				font-size: 2.5rem;
				padding: 2rem 0;
				width: 350px;
			}
			.event-flower {
				width: 100%;
				transform: translate(-50%, -50%);
			}
		}
	}
	#event-info {
		.info-body {
			border-radius: 2rem;
		}
	}
}

@media screen and (max-width: 1200px) {
	#info-page {
		.info-body {
			border-radius: 4rem;
		}
	}
}

@media screen and (max-width: 768px) {
	#event-header {
		.event-sub {
			height: 300px;
			.event-play {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background: linear-gradient(to bottom, #fdb7ab, #fdb7ab);
			}
			.event-flower {
				height: 100%;
				transform: translate(-50%, -50%);
			}
		}
		.event-star-bg {
			&:nth-of-type(2) {
				left: auto;
				right: 10%;
			}
			&:nth-of-type(3) {
				right: auto;
				left: 50px;
			}
			&:nth-of-type(4) {
				top: 100px;
			}
			&:nth-of-type(5) {
				top: 130px;
			}
		}
	}
	#event-schedule {
		.schedule-card {
			&-body {
				padding: 1rem;
				min-height: 275px;
			}
		}
	}
	#elaborasi {
		.schedule-card {
			&-body {
				min-height: 270px;
			}
		}
	}
}
@media screen and (max-width: 576px) {
	#event-header {
		.event-sub {
			.event-subtitle {
				font-size: 1.75rem;
				max-width: 80%;
			}
		}
		.event-star-bg {
			&:nth-of-type(1) {
				display: none;
			}
		}
	}
	#event-info {
		.info-subtitle {
			span {
				font-size: 1.5rem;
			}
		}
	}
	#event-schedule {
		.schedule-card {
			&-body {
				padding: 1rem;
				min-height: fit-content;
				.schedule-rundown {
					position: relative;
					bottom: 0;
				}
			}
		}
	}
	#elaborasi {
		.schedule-card {
			&-body {
				min-height: fit-content;
				padding-bottom: 5rem;
			}
		}
	}
	#event-info {
		.info-body {
			padding: 2rem 1rem;
		}
	}
	#info-page {
		.info-body {
			border-radius: 2rem;
		}
	}
}
