@import "variables";
@import "mixin";

$merchandise-purple: #6d529a;
$merchandise-pink: #f4b2a7;

#merchandise-body {
	background: linear-gradient(
		to bottom,
		$merchandise-purple,
		$merchandise-pink
	);
	width: 100vw;
	overflow-x: hidden;
}

#merchandise-page {
	@include full-viewpage(85vh);
	color: $primary-white;
	position: relative;
	width: 100%;
	overflow: hidden;
	img.event-flower {
		position: absolute;
		z-index: -2;
		&:nth-of-type(1) {
			top: 0;
			left: 0;
			width: 600px;
			max-width: 100%;
		}
		&:nth-of-type(2) {
			top: -200px;
			right: -150px;
			width: 450px;
			max-width: 100%;
		}
	}
	img.event-star-bg {
		position: absolute;
		overflow: hidden;
		z-index: -1;
		top: 60%;
		right: 120px;
	}
	img.merchandise-speaker {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
	}
	.merchandise-header {
		position: relative;
		margin: 1rem auto 2rem;
		width: 460px;
		max-width: 100%;
		img.event-star-bg {
			position: absolute;
			z-index: -1;
			&:nth-of-type(1) {
				top: 0;
				right: 75px;
				width: 75px;
			}
			&:nth-of-type(2) {
				top: 40px;
				right: 50px;
				width: 45px;
			}
		}
	}
	.merchandise-brand {
		width: fit-content;
		background: $gradient-transparent;
		border: 1px solid $merchandise-pink;
		font-family: $nunito-font;
		font-size: 1.5rem;
		font-weight: 600;
		border-radius: 2rem;
		padding: 0.25rem 1.25rem;
		color: $merchandise-pink;
	}
	.merchandise-title {
		margin-top: 1.25rem;
		font-family: $nunito-font;
		font-size: 4rem;
		font-weight: 900;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	.pre-order {
		&-text {
			background: $gradient-transparent;
			width: fit-content;
			margin: 0 auto;
			border: 1px solid $merchandise-pink;
			border-radius: 1rem;
			font-family: $nunito-font;
			font-size: 2.5rem;
			font-weight: 700;
			padding: 0.5rem 1.25rem;
			color: $merchandise-pink;
			text-transform: uppercase;
		}
		&-desc {
			margin: 1.5rem auto;
			font-family: $nunito-font;
			font-size: 1.25rem;
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
		}
		.timebox {
			margin: 0 0.5rem 3rem;
			width: 100px;
			height: 100px;
			background: $gradient-transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border: 1px solid $merchandise-pink;
			border-radius: 1rem;
			&-number {
				font-family: $nunito-font;
				font-size: 3rem;
				font-weight: 700;
				margin: 0;
				line-height: normal;
			}
			&-name {
				margin: 0;
				margin-top: -0.5rem;
				font-family: $nunito-font;
				font-size: 1rem;
				font-weight: 500;
			}
		}
		&-button {
			width: fit-content;
			background: linear-gradient(to right, $merchandise-pink, #a0779f);
			border: 1px solid $merchandise-pink;
			border-radius: 2rem;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			padding: 0.75rem 1.75rem;
			font-family: $nunito-font;
			font-size: 1.25rem;
			font-weight: 700;
		}
	}
}
.section-title {
	font-family: $nunito-font;
	font-size: 2.25rem;
	font-weight: 700;
	padding: 1rem 3rem;
	width: fit-content;
	margin: 2rem auto 3rem;
	position: relative;
	color: $primary-white;
	text-align: center;
	text-transform: uppercase;
	&::before {
		position: absolute;
		z-index: -1;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: linear-gradient(
			135deg,
			rgba(253, 212, 202, 0.38),
			rgba(255, 255, 255, 0.13)
		);
		border-radius: 1rem;
		filter: blur(3px);
		// box-shadow: 0 0 10px transparent;
	}
}

#merchandise-bundle {
	color: $primary-white;
	.bundle-category {
		margin: 0 auto 1.5rem;
		width: 250px;
		max-width: 100%;
		border: 1px solid $merchandise-pink;
		border-radius: 2rem;
		background: linear-gradient(
			135deg,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.1)
		);
		font-family: $nunito-font;
		font-size: 1.25rem;
		font-weight: 700;
		padding: 0.75rem;
		text-align: center;
		cursor: pointer;
		&:not(.collapsed) {
			background: linear-gradient(
				135deg,
				rgba(255, 255, 255, 0.7),
				rgba(255, 255, 255, 0.4)
			);
		}
	}
	.bundle-detail {
		padding: 1rem;
		border: 1px solid $merchandise-pink;
		border-radius: 1.5rem;
		background: $gradient-transparent;
		height: 560px;
		.bundle-name {
			border: 1px solid $merchandise-pink;
			border-radius: 2rem;
			width: fit-content;
			margin: 0 auto;
			padding: 0.5rem 2rem;
			background: linear-gradient(
				to right,
				$merchandise-pink,
				$merchandise-purple
			);
			font-family: $nunito-font;
			font-size: 1.25rem;
			font-weight: 700;
			color: $primary-white;
		}
		.bundle-content {
			margin: 0 auto;
			width: 600px;
			max-width: 100%;
		}
		.bundle-item {
			margin: 1.5rem 0 1rem;
			font-family: $nunito-font;
			font-size: 1.15rem;
			font-weight: 700;
			width: fit-content;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				display: block;
				margin: 0.25rem auto 0;
				width: 100%;
				height: 1px;
				background-color: $primary-white;
			}
		}
		.bundle-choice {
			font-family: $nunito-font;
			font-weight: 600;
			font-size: 1rem;
			margin: 0.4rem 0;
			padding-left: 1.35rem;
			position: relative;
			&::before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 15px;
				height: 15px;
				background: $primary-white;
				border-radius: 50%;
			}
		}
		.bundle-price {
			font-family: $nunito-font;
			font-weight: 700;
			font-size: 2rem;
			margin: 1.5rem 0;
		}
	}
}

#merchandise-catalog {
	color: $primary-white;
	.category-name {
		margin: 1rem auto;
		padding: 0.5rem 0;
		border: 1px solid $merchandise-purple;
		border-radius: 2rem;
		background: $gradient-transparent;
		backdrop-filter: blur(40px);
		width: 250px;
		max-width: 100%;
		font-family: $nunito-font;
		font-weight: 700;
		font-size: 1.25rem;
		letter-spacing: 0.07em;
		text-align: center;
		cursor: pointer;
	}
	a.category-name {
		display: block;
	}
	.product {
		&-catalog {
			margin: 1rem auto;
			padding: 2.5rem 1.5rem 1rem;
			width: 310px;
			max-width: 100%;
			// height: 450px;
			border-radius: 1.25rem;
			background: $gradient-transparent;
			position: relative;
			&::before {
				position: absolute;
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 2rem;
				overflow: hidden;
				background: linear-gradient(to left, #a764fe 0%, #fbd1ca 100%);
			}
		}
		&-image {
			margin: 1rem auto;
			width: 250px;
			max-width: 100%;
			height: 250px;
			background: $primary-white;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			img {
				max-width: 100%;
				max-height: 100%;
				filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
			}
			&-code {
				position: absolute;
				top: 0.5rem;
				left: 0.75rem;
				font-family: $nunito-font;
				font-weight: 400;
				font-size: 0.8rem;
				color: $merchandise-pink;
			}
		}
		&-name {
			height: 58px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $nunito-font;
			font-weight: 600;
			font-size: 1.5rem;
			color: $merchandise-purple;
			text-align: center;
			margin: 1rem auto 0.5rem;
		}
		&-price {
			font-family: $nunito-font;
			font-weight: 500;
			font-size: 1.4rem;
			color: black;
			text-align: center;
		}
		.detail-button {
			margin: 0.5rem auto;
			padding: 0.5rem 1.75rem;
			width: fit-content;
			border: 1px solid $merchandise-pink;
			border-radius: 1.5rem;
			background: linear-gradient(95.83deg, #fbd1ca 0%, #a663ff 100.24%);
			font-family: $nunito-font;
			font-size: 1.1rem;
			color: $primary-white;
			text-align: center;
		}
	}
}

@media screen and (max-width: 1200px) {
	#merchandise-page {
		.merchandise-title {
			font-size: 3.5rem;
		}
	}
}

@media screen and (max-width: 992px) {
	#merchandise-page {
		img.event-star-bg {
			top: 60%;
			right: 75px;
		}
	}

	#merchandise-bundle {
		.bundle-detail {
			height: fit-content;
		}
	}
}
@media screen and (max-width: 768px) {
	#merchandise-page {
		.merchandise-header {
			width: 400px;
		}
		img.event-flower {
			&:nth-of-type(1) {
				left: 50%;
				transform: translateX(-50%);
			}
			&:nth-of-type(2) {
				display: none;
			}
		}
		img.event-star-bg {
			top: 50%;
			right: 45px;
			width: 55px;
		}
	}
}

@media screen and (max-width: 576px) {
	#merchandise-page {
		img.merchandise-speaker {
			display: none;
		}
	}

	#merchandise-bundle {
		.bundle-detail {
			width: fit-content;
			padding: 1rem 1.75rem;
			margin: 0 auto;
			.bundle-content {
				width: 250px;
			}
			.bundle-price {
				font-size: 1.5rem;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#merchandise-page {
		.merchandise-title {
			font-size: 2.25rem;
		}
		.merchandise-header {
			width: 270px;
			img.event-star-bg {
				&:nth-of-type(1) {
					right: 25px;
					width: 45px;
				}
				&:nth-of-type(2) {
					top: 25px;
					right: 10px;
					width: 25px;
				}
			}
		}
		.pre-order {
			&-text {
				font-size: 1.5rem;
			}
			&-desc {
				font-size: 1.15rem;
			}
			.timebox {
				width: 75px;
				height: 75px;
				&-number {
					font-size: 2rem;
					line-height: 3rem;
				}
			}
		}
	}
}
