$primary-purple: #6e35c3;
$secondary-purple: #a98dec;

$primary-pink: #fee4e3;
$secondary-pink: #b988a1;

$primary-white: white;

$primary-orange: #f28852;
$secondary-orange: #ffd0c6;

$navbar-color: #fdd4ca;

$comfortaa-font: "Comfortaa", cursive;
$nunito-font: "Nunito", sans-serif;

$bg-main: linear-gradient(
	to bottom,
	#fdd4ca 5%,
	#e3afda 15%,
	#bd7eef 25%,
	#be7fef 30%,
	#9983fa 50%,
	#6d4ded 70%,
	#5b1eb3 85%
);
$bg-main-768: linear-gradient(
	to bottom,
	#fdd4ca 5%,
	#e3afda 10%,
	#bd7eef 25%,
	#be7fef 30%,
	#9983fa 50%,
	#6d4ded 70%,
	#5b1eb3 85%
);
$bg-main-576: linear-gradient(
	to bottom,
	#fdd4ca 5%,
	#e3afda 10%,
	#bd7eef 25%,
	#be7fef 30%,
	#9983fa 50%,
	#6d4ded 70%,
	#5b1eb3 85%
);
$bg-ukm-categories: linear-gradient(
	to bottom,
	$navbar-color 10%,
	#624a98 50%,
	#5b1eb3
);
$bg-ukm-detail: linear-gradient(
	to bottom,
	$navbar-color 10%,
	#ffb9a8,
	#6b5099,
	#624a98,
	#5b1eb3
);

$gradient-transparent: linear-gradient(
	135deg,
	rgba(255, 255, 255, 0.4),
	rgba(2555, 255, 255, 0.1)
);
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

.pink-button {
	background-color: $primary-pink;
	border-radius: 2rem;
	padding: 0.5rem 1.25rem;
	color: $primary-purple;
	font-size: 1rem;
	font-weight: 700;
	&:hover {
		color: $primary-purple;
		font-size: 1rem;
		font-weight: 700;
	}
}

.purple-button {
	background-color: $primary-purple;
	border-radius: 2rem;
	padding: 0.75rem 1.5rem;
	color: $primary-white;
	font-size: 1rem;
	font-weight: 700;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
	&:hover {
		color: $primary-white;
		font-size: 1rem;
		font-weight: 700;
	}
}
